# Project Configuration
PROJECT_NAME=Nuroly-Observer

# Debug Mode (set to true for detailed error logs and stack traces)
DEBUG=false

# Telegram
TELEGRAM_TOKEN=
TELEGRAM_PREFIX=/
TELEGRAM_ALLOWED_USERS=12345678,98765432

# Slack
SLACK_TOKEN=
SLACK_APP_TOKEN=
SLACK_PREFIX=!
SLACK_ALLOWED_USERS=U0123ABCD,U0987WXYZ